<div class='card'>
  <div class='card-header'>
    Employees Information
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by: Name</div>
      <div class='col-md-4'>
        <input type='text' />
      </div>
      <div class='col-md-8'>
        <button class='btn btn-primary'>
          Create Employee
        </button>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>          
            <th>Name</th>
            <th>Email</th>
            <th *ngIf="user.role != 'manager'">Role</th>
            <th>Likes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.role}}</td>
            <td>
              <button (click)="showLikes(employee._id)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
