<navi-bar></navi-bar>
<div class='card'>
  <div class='card-header'>
    Employees Information
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by: Name</div>
      <div class='col-md-2'>
        <input type='text' [(ngModel)]="term" name="term"/>
      </div>
      <div class='col-md-6'>
        <button class='btn btn-primary'> Create Employee </button>
      </div>
      <div class='col-md-2'>
        <button class='btn btn-primary' (click)= "notify()"> Send Notification </button>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees| filter: term">
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.role}}</td>
            <td><button type="button" class="btn btn-info">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click) = "delete(employee._id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
