<navi-bar></navi-bar>
<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-2'>
        <input type='text' [(ngModel)]='term' />
      </div>
      <div class='col-md-6'>
        <button class='btn btn-primary' (click)="open(content)">
          Add Product
        </button>
      </div>

    </div>

    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Expire Date</th>
            <th>Quantity</th>
            <th>5 Star Rating</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products | filter:term'>

            <td>
              <a>
                {{product.name}}
              </a>
            </td>
            <td>{{product.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>{{product.expire_date}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <pm-star [rating]='product.rate' ></pm-star>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="delete(product._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


 <!-- modal -->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Product information</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Product Name</label>
          <input type="text" name="name" [(ngModel)] = "newProduct.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procut Name">
          <small id="emailHelp" class="form-text text-muted">Be careful!. It is used as a login</small>
        </div>
        <div class="form-group">
            <label for="name">Price</label>
            <input type="text" name="price" [(ngModel)] = "newProduct.price" class="form-control" id="password" placeholder="Price">
          </div>
        <div class="form-group">
          <label for="name">Expire Date</label>
          <input type="date" name="exp_date" [(ngModel)] = "newProduct.expire_date" class="form-control" id="name" placeholder="Expire Date">
        </div>
        <div class="form-group">
            <label for="role">Quantity</label>
            <input type="text" name="quantity" [(ngModel)] = "newProduct.quantity" class="form-control" id="name" placeholder="Quantity">
         
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
  </ng-template>
