<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' 
              [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'>
                Add Product
              </button>
            </th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Expire Date</th>
            <th>Quantity</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img>
            </td>
            <td>
              <a [routerLink]="['/products',product.productId]">
                  {{product.name}}
              </a>
            </td>
            <td>{{product.price}}</td>
            <td>{{product.expire_date}}</td>
            <td>{{product.quantity}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
